<h3>Your album has been added</h3>

<div class = "img-center">
    <form action="/recordstore/artists" method="GET">
        <input type="submit" value="Artists" class = "btn">
    </form>
</div>

<div class = "img-center">
    <form action="/recordstore/albums" method="GET">
        <input type="submit" value="Finances" class = "btn">
    </form>
</div>
