<table class = "table">
    <tr>
        <th>Artist</th>
        <th>Album Name</th>
        <th>Stock Level</th>
    </tr>

<% @artists.each do |artist| %>
    <tr>
        <td><%= artist.name() %></td>
        <% artist.albums.each do |album| %>
        <td><%= album.name %></p></td>
        <td><%= album.stock_level %></td>
            <% end %>
        <td><form action="/recordstore/artists/delete/<%=artist.id%>" method="POST">
            <input type="submit" value="Delete" id = "btn">
            </form>
        </td>
    </tr>
<% end %>
</table>

<form action="/recordstore/albums" method="GET">
    <input type="submit" value="View Albums" id = "btn">
</form>
