<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

<div id="inventory_title">
    <p> Artist </p>
    <p> Album </p>
    <p> Stock Level </p>
    <p> Delete </p>
</div>


<% @artists.each do |artist| %>
    <div class = "record">
        <%= artist.name() %>
        <p><% artist.albums.each do |album| %></p>
        <div class = "albums">
        <p><%= album.name %></p>
        <p><%= album.stock_level %></p>
        </div>
        <% end %>
        <p><form action="/recordstore/artists/delete/<%=artist.id%>" method="POST">
            <input type="submit" value="Delete" id = "btn"></p>
        </form>
    </div>
<% end %>
