<% @artists.each do |artist| %>
<article>
<p> Artist ID: <%= artist.id %></p>
<p>Name: <%= artist.name() %></p>
<p>Albums: <% artist.albums.each do |album| %>
<%= album.name %> </p>
<% end %>
<% end %>

<body>
 <form action="/recordstore/artists/new" method="GET">
   <input type="submit" value="Add Artist">
 </form>
</body>
