<h3> Your artist has been added </h3>

<div class = "img-center">
    <form action="/recordstore/album/new" method="GET">
        <input type="submit" value="Add Album" class = "btn">
    </form>
</div>

<div class = "img-center">
    <form action="/recordstore/albums" method="GET">
        <input type="submit" value="Finances" class = "btn">
    </form>
</div>
