<h1> Welcome to the record store tracker </h1>

<div id = "main-image">
</div>

<br>
<div class = "img-center">
    <form action="/recordstore/albums" method="GET">
      <input type="submit" value="Finances" class = "btn">
     </form>
 </div>
