<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>

    <h1> Welcome to the record store tracker </h1>

    <div id = "main-image">
    </div>

<div id = "img-center">
    <form action="/recordstore/albums" method="GET">
      <input type="submit" value="Albums" id = "btn">
     </form>
 </div>

</body>
</html>
