<h1> Welcome to da record store tracker </h1>

<form action="/recordstore/artists" method="GET">
  <input type="submit" value="Artists">
</form>

<form action="/recordstore/albums" method="GET">
  <input type="submit" value="Inventory">
</form>
