<table class = "table">
    <tr>
        <th>Album Name</th>
        <th>Artist</th>
        <th>Stock Level</th>
    </tr>

<% @albums.each do |album| %>
    <tr>
        <td><%= album.name() %></td>
        <td><%= album.artist.name() %></td>
        <td><%= album.stock_level %></td>
        <td><form action="/recordstore/artists/delete/<%=album.artist.id%>" method="POST">
            <input type="submit" value="Delete" id = "btn">
            </form>
        </td>
        <% end %>
    </tr>
</table>
<br>
<form action="/recordstore/albums" method="GET">
    <input type="submit" value="View Albums" id = "btn">
</form>
