<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Al's Record Tracker</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Fascinate+Inline" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="icon" href="/images/record.jpg">
</head>

<body>
    <nav>
        <div id = "align-menu">
            <a href="/recordstore"><img src = "/images/logo.jpg" alt = "Logo" id = "logo"/></a>
            <ul id = "menu-header">
                <li> <a href = "/recordstore/artists/new"> Add an Artist</a></li>
                <li> <a href = "/recordstore/album/new">Add an Album</a></li>
                <li> <a href = "/recordstore/artists">Inventory</a></li>
            </ul>
        </div>
    </nav>
</div>


<%= yield %>
</body>



</html>
