<h3> Please type the name of the Artist you would like to add below, then hit submit</h3>
<div id = "new_artist">
    <form action="/recordstore/artists" method="POST">
        <label for="name">Artist Name:</label>
        <input type="text" name="name">
        <input id = "new_artist_submit" type="submit" name="submit">
    </form>

</div>

<div id ="img-center">
<img src = "/images/mic.jpg" alt = "mic" id = "img">
</div>
