<h3>If your artist does not appear in the drop down box please select Add an Artist on the navigation bar </h3>


<div class = "input">
<form action="/recordstore/albums" method="POST">

  <label for="name">Album Name:</label>
  <input type="text" name="name">

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity">

  <label for="artist_id">Artist</label>
  <select name="artist_id">
      <option name="Select Artist">Select Artist </option>
      <% for artist in @artists %>
      <option value="<%= artist.id %>">
      <%= artist.name() %>
      </option>
      <% end %>
  </select>

  <label for="genre">Genre</label>
  <select name="genre">
      <option name="Select Genre">Select Genre</option>
      <option value="Pop">Pop</option>
      <option value="Rock">Rock</option>
      <option value="Electronic">Electronic</option>
      <option value="Indie">Indie</option>
      <option value="Korean Folk">Modern Pan Flute</option>
  </select>

  <input type="submit" value = "Add Album" class = "input_submit">

</form>
</div>


<div class = "img-center">
    <img src="/images/revolver.jpg" alt="revolver" class = "img">
</div>
