<h3>If your artist does not appear in the drop down box please select Add an Artist on the navigation bar </h3>

<div class = "input">
<form action="/recordstore/albums" method="POST" class = "form">

  <label>Album Name:</label>
  <input type="text" name="name">

  <label>Quantity:</label>
  <input type="number" name="quantity">

  <label>Artist</label>
  <select name="artist_id">
      <option>Select Artist </option>
      <% for artist in @artists %>
      <option value="<%= artist.id %>">
      <%= artist.name() %>
      </option>
      <% end %>
  </select>

  <label>Genre</label>
  <select name="genre">
      <option>Select Genre</option>
      <option value="Pop">Pop</option>
      <option value="Rock">Rock</option>
      <option value="Electronic">Electronic</option>
      <option value="Indie">Indie</option>
      <option value="Rap">Rap</option>
      <option value="Susan Boyle">Susan Boyle</option>
  </select>

  <input type="submit" value = "Add Album" class = "input_submit">

</form>
</div>

<br>

<div class = "images">

<div>
<img src="/images/revolver.jpg" alt="revolver" class = "img">
</div>

<div>
<img src="/images/thriller.png" alt="thriller" class = "img">
</div>

<div>
<img src="/images/wall.png" alt="wall" class = "img">
</div>

<div>
<img src="/images/subo.jpg" alt="subo" class = "img">
</div>

</div>
