body {
    background-color: white;
    margin: 15px;
}

#menu-header{
    display: flex;
    background-color: white;
    align-items: center;
    font-family: 'Fascinate Inline', cursive;
    font-size: 30px;
    margin: 10px;
    border-radius: 50%;
    padding: 25px;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    list-style-type: none;
}

li:not(:first-child):before {
    content: " | ";
}

h1 {
    display:flex;
    justify-content: center;
    font-family: 'Fascinate Inline', cursive;
    color: black;
}

#main-image{
    background-image: url("/images/recordshop.jpg");
    height: 300px;
    border-radius: 50%;
}

#logo {
    border-radius: 10%;
    width: 100px;

}

#align-menu {
    border-radius: 10px;
    margin: 0px;
    padding: 8px;
    display:flex;
    justify-content: space-around;
    background-color: black;
}

#btn {
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px inset;
    background: linear-gradient(rgb(249, 249, 249) 5%, rgb(233, 233, 233) 100%) rgb(249, 249, 249);
    border-radius: 42px;
    border: 5px solid rgb(220, 220, 220);
    display: inline-block;
    cursor: pointer;
    color: rgb(102, 102, 102);
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    font-style: italic;
    padding: 12px 36px;
    text-decoration: none;
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
}

#btn:hover {
    color: purple;
}

#btn_position{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 50px;
}



#inventory_title{
    background-color: grey;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Poiret One';
    font-weight: bold;
    border-radius: 10px;
}

#new_artist{
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Poiret One';
    font-size: 20px;
    color: white;
}

#new_artist_submit{
    background-color: white;
    padding : 10px;
}
.record{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    font-family: 'Poiret One';
    border-style: dashed;
    padding: 10px;
    font-style: italic;
}

.albums{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: red;
    width: 350px;

}


#album_form{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#img{
    width: 700px;
    height: 500px;
    background-color: black;
}

#img-center{
    display: flex;
    justify-content: center;
    padding: 2px;
}
